.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

.active {
    background-color: yellow;
}

.nearMaxMass {
    color: red;
    font-weight: bold;
}
